body {
    background-image: url(../../public/images/forms.jpg); 
    background-size: cover;
    background-position: center; 
}

.turno-manana {
    background-color: #ffcc00; 
    overflow: hidden; /* Oculta el texto que se sale del contenedor */
}

.turno-tarde {
    background-color: #ff9900; 
    overflow: hidden; /* Oculta el texto que se sale del contenedor */
}

.turno-noche {
    background-color: #3366ff; 
    overflow: hidden; /* Oculta el texto que se sale del contenedor */
}

.header{
    background-color: #FEFEFE; 
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FEFEFE; 
    padding: 20px 0;
    text-align: center; 
}